{
    "openapi": "3.1.0",
    "info": {
        "title": "HotelTech GPT Actions",
        "version": "1.0.0",
        "description": "Acciones combinadas para enviar correos por Gmail API y activar recordatorios en Google Cloud Functions."
    },
    "paths": {
        "/gmail/v1/users/me/messages/send": {
            "post": {
                "operationId": "send_reminder_email",
                "summary": "Enviar correo de recordatorio",
                "description": "Env\u00eda un correo al responsable si no ha imputado horas o la tarea est\u00e1 pr\u00f3xima a vencer.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "raw": {
                                        "type": "string",
                                        "description": "Mensaje MIME codificado en base64 URL-safe (HTML incluido)"
                                    }
                                },
                                "required": [
                                    "raw"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Correo enviado correctamente"
                    }
                }
            }
        },
        "/": {
            "get": {
                "operationId": "trigger_hoteltech_reminder",
                "summary": "Ejecutar recordatorio diario de tareas",
                "description": "Llama a la funci\u00f3n Cloud que env\u00eda recordatorios por correo para tareas sin imputaci\u00f3n o pr\u00f3ximas a vencer.",
                "responses": {
                    "200": {
                        "description": "Funci\u00f3n ejecutada correctamente"
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "https://europe-west1-hoteltech-gmail-api.cloudfunctions.net/hoteltechReminder"
        }
    ],
    "components": {
        "schemas": {},
        "securitySchemes": {
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
                        "tokenUrl": "https://oauth2.googleapis.com/token",
                        "scopes": {
                            "https://www.googleapis.com/auth/gmail.send": "Enviar correos como el usuario autenticado"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "oauth2": []
        }
    ]
}