{
  "openapi": "3.1.0",
  "info": {
    "title": "NubemFlow Full API",
    "version": "1.1.0",
    "description": "Conjunto completo de acciones disponibles para NubemFlow GPT personalizado."
  },
  "paths": {
    "/gmail/v1/users/me/messages/send": {
      "post": {
        "operationId": "send_reminder_email",
        "summary": "Enviar correo de recordatorio",
        "description": "Env\u00eda un correo al responsable si no se han imputado horas o si la tarea est\u00e1 pr\u00f3xima a vencer.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "raw": {
                    "type": "string",
                    "description": "Mensaje MIME codificado en base64 URL-safe (HTML incluido)"
                  }
                },
                "required": [
                  "raw"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Correo enviado correctamente"
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "trigger_hoteltech_reminder",
        "summary": "Ejecutar recordatorio diario de tareas",
        "description": "Llama a la funci\u00f3n Cloud que env\u00eda recordatorios por correo para tareas sin imputaci\u00f3n o pr\u00f3ximas a vencer.",
        "responses": {
          "200": {
            "description": "Funci\u00f3n ejecutada correctamente"
          }
        }
      }
    },
    "/generate": {
      "post": {
        "operationId": "generate_pdf_report",
        "summary": "Generar informe PDF de tareas",
        "description": "Recibe una lista de tareas y genera un PDF codificado en base64.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tareas": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tarea": {
                          "type": "string"
                        },
                        "proyecto": {
                          "type": "string"
                        },
                        "usuario": {
                          "type": "string"
                        },
                        "porcentaje_tiempo": {
                          "type": "integer"
                        },
                        "fecha_limite": {
                          "type": "string",
                          "format": "date"
                        }
                      },
                      "required": [
                        "tarea",
                        "proyecto",
                        "usuario",
                        "porcentaje_tiempo",
                        "fecha_limite"
                      ]
                    }
                  }
                },
                "required": [
                  "tareas"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF generado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "filename": {
                      "type": "string"
                    },
                    "pdf_base64": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "pdf_base64",
                    "filename"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/crearEstructuraEnJIRA": {
      "post": {
        "operationId": "crearEstructuraEnJIRA",
        "summary": "Crear estructura de planificaci\u00f3n en JIRA",
        "description": "Recibe un objeto con tareas, subtareas y responsables. Crea los issues en JIRA y devuelve los identificadores creados.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_key": {
                    "type": "string"
                  },
                  "project_manager_id": {
                    "type": "string"
                  },
                  "tareas": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "titulo": {
                          "type": "string"
                        },
                        "descripcion": {
                          "type": "string"
                        },
                        "asignado_a": {
                          "type": "string"
                        },
                        "subtareas": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "titulo": {
                                "type": "string"
                              },
                              "descripcion": {
                                "type": "string"
                              },
                              "asignado_a": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "titulo",
                              "asignado_a"
                            ]
                          }
                        }
                      },
                      "required": [
                        "titulo",
                        "asignado_a"
                      ]
                    }
                  }
                },
                "required": [
                  "project_key",
                  "project_manager_id",
                  "tareas"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tareas creadas correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "created_keys": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "errores": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://europe-west1-hoteltech-gmail-api.cloudfunctions.net"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/gmail.send": "Enviar correos como el usuario autenticado"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}